{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Campaign </h4>
            </div>
            <div class="card-body">
               {% include 'campaign/form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
