<div style="font-size:13px;">

    {%  for license in licenses %}
        {{ license.licenseKey }}{%  if loop.last == false %}, <br /> {% endif %}
    {%  endfor %}

    {% if allLicenses %} 
        <div>
            <span class="view-all-licenses" data-licenses="{{ allLicenses |join(', ') }}">All licenses({{ allLicenses|length }}) </span>
        </div> 
    {%  endif %}

</div>